@font-face {
  font-family: "Sedgwick";
  src: url("../fonts/SedgwickAveDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

$titleFont: Sedgwick, sans-serif;
$subtitlesFont: Roboto, sans-serif;
$redIndigen: #db3632;

/*HEADER*/
.navbar:hover {
  opacity: 100%;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  opacity: 50%;
  height: 15vh;
  padding: 1rem 10rem 1rem 1rem;
  width: 100%;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style: none;

  margin-left: 5rem;
}

.nav-link {
  text-decoration: none;
  font-family: "Sedgwick";
  font-size: 1.7vw;
  font-weight: 400;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-link:hover {
  color: #db3632;
}

.logo {
  position: absolute;
  width: 11%;
  height: auto;
  opacity: 100%;
  z-index: 1;
  margin: 1.2rem;
}
@media only screen and (min-width: 1024px) {
  .video {
    position: relative;
    top: -200px;
    z-index: -1;
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    opacity: 100%;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: auto;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1.8rem 0;
  }
  .nav-link {
    color: black;
  }

  .hamburger {
    position: absolute;
    display: block;
    cursor: pointer;
    background-color: white;
    margin: 2px 1em 0 80%;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .logo {
    position: absolute;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
    margin: 3.5em auto 1em 1em;
    width: 5rem;
  }
}

// ------BANNER-------
.street-banner {
  height: 100vh;
  background-image: url("../img/blockparty.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.street-title {
  font-family: $titleFont;
  text-align: right;
  font-size: 4vw;
}

.street-subtitle {
  font-family: $subtitlesFont;
  z-index: 2;
  text-align: right;
  color: $redIndigen;
  font-size: 1.5vw;
}

.street-trapeze {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 35vw;
  border-left: 20vh solid transparent;
  border-top: 100vh solid rgba(0, 0, 0, 0.561);
}

.street-description {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
}

.street-p {
  color: white;
  text-align: right;
  font-family: $subtitlesFont;
  font-size: 0.9vw;
  width: 15vw;
}

.street-video {
  width: 15vw;
  height: 20vh;
}

//Black Box
.black-box {
  height: 7vh;
  width: 100vw;
  background-color: black;
}

//Galerie photos-------------------------------
.galerie {
  position: relative;
  column-count: 5;
  margin: 80px 0 20px 10px;
}

.photo {
  display: inline-block;
  overflow: hidden;
  border: 1px solid grey;
  border-radius: 10px;
}

//Hide
.photo.hide {
  display: none;
}

//Show
.photo.show {
  display: inline-block;
  animation: show 0.5s ease;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// C'est l'animation d'effet zoom
.galerie-image {
  width: 100%;
  transition: 0.25s ease-in-out;
}

.photo:hover .galerie-image {
  transform: scale(1.1);
}

//Pagination--------------------------------------------
.pagination {
  width: 100%;
  text-align: center;
}

.pagination .page {
  color: #000;
  font-family: $subtitlesFont;
}

.pagination div {
  display: inline-block;
  padding: 15px;
  margin: 0 0 40px 0;
}

.prev,
.next {
  color: #000;
  border: 1px solid black;
  font-size: 15px;
  padding: 7px 15px;
}

// Disabled également
.prev.disabled,
.next.disabled {
  border-color: gray;
  color: gray;
  pointer-events: none;
}

//responsive Galerie
@media screen and (max-width: 940px) {
  .galerie {
    column-count: 3;
  }
}

@media screen and (max-width: 425px) {
  .galerie {
    column-count: 2;
  }
}

/*FOOTER*/
.reseau {
  font-size: 5vh;
}

.partner {
  font-size: 0.8vw;
  font-family: $subtitlesFont;
}
