@font-face {
  font-family: "Sedgwick";
  src: url("../fonts/SedgwickAveDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

$titleFont: Sedgwick, sans-serif;
$subtitlesFont: Roboto, sans-serif;
$redIndigen: #db3632;
//$opacityColor: ;

//============================================  index.html (Nat)  ==================================================
header {
  z-index: 2;
}

footer {
  z-index: 2;
}

.video {
  position: absolute;
  top: 0;
  z-index: 1;
}

// ------BANNER-------
.banner {
  height: 100vh;
  background-image: url("../img/block-party.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: $titleFont;
  text-align: right;
}
h2 {
  font-family: $subtitlesFont;
  z-index: 2;
  text-align: right;
  color: $redIndigen;
}
.trapeze {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 35vw;
  border-left: 20vh solid transparent;
  border-top: 100vh solid rgba(0, 0, 0, 0.561);
}
.description {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
}
p {
  color: white;
  text-align: right;
  font-family: $subtitlesFont;
}
// -------------------
