* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// ------BANNER-------
.event-banner {
  background-image: url("../img/blockparty.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.event-trapeze {
  background-color: none;
}

.event-description {
  color: none;
}

.event-type {
  display: none;
}

.event-video {
  display: none;
}

.event-title {
  color: white;
  height: 50vh;
  font-family: $titleFont;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.514);
}
.event-subtitle-mobile a {
  text-decoration: none;
  color: $redIndigen;
}

/*TEXTE_PHOTO EN DIAGONALE PAT*/
.title {
  font-family: $titleFont;
  color: $redIndigen;
  font-size: 2rem;
  padding: 1rem;
}

.event-text {
  font-family: $subtitlesFont;
  font-size: 0.9rem;
  color: black;
  padding: 1rem;
}

.container_verse {
  overflow: hidden;
  height: 50vh;
  width: 80vw;
  text-align: right;
  margin-left: 10%;
  border-left: 2px solid #db3632;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 15%;
}
.shaped {
  height: 50vh;
  width: 40vw;
  float: right;
  background: black url(../img/graph.webp) center top no-repeat;
  background-size: cover;
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  shape-margin: 1.5rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  border: 1px solid black;
}
.container_reverse {
  overflow: hidden;
  height: 50vh;
  width: 80vw;
  text-align: left;
  margin-right: 10%;
  margin-left: 10%;
  border-right: 2px solid #db3632;
  margin-top: 5%;
  margin-bottom: 15%;
}

.shaped_reverse {
  height: 50vh;
  width: 40vw;
  float: left;
  background: black url(../img/mama.webp) center top no-repeat;
  background-size: cover;
  shape-outside: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  shape-margin: 1.5rem;
  clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  border: 1px solid black;
}

.shaped {
  border: none;
  shape-outside: none;
  clip-path: none;
  margin-left: 1rem;
}
.shaped_reverse {
  border: none;
  shape-outside: none;
  margin-right: 1rem;
  clip-path: none;
}

.content_verse {
  height: 50vh;
  width: 80vw;
}
.content_reverse {
  height: 50vh;
  width: 80vw;
  text-align: right;
  padding-right: 0.5rem;
}

.title {
  font-size: 1.2rem;
  padding: 0.4rem;
}

/*disparition du banner en responsive*/
.separator-event {
  visibility: visible;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3%;
  font-family: $textBold;
  color: $redIndigen;
  font-size: 0.6rem;
  margin-top: 5%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .event-title {
    font-size: 4rem;
  }
  .separator-event {
    visibility: visible;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
    font-family: $textBold;
    color: $redIndigen;
    font-size: 1rem;
    margin-top: 5%;
  }
}

.event-text {
  font-size: 1rem;
}

.title {
  font-size: 1.5rem;
}
@media only screen and (min-width: 1025px) {
  // ------BANNER-------
  .event-banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 85vh;
    width: 100vw;
  }

  .event-trapeze {
    clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
    background-color: rgba(0, 0, 0, 0.514);
    width: 70%;
    padding: 2%;
  }

  .event-description {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
  }

  .event-type {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .event-title {
    font-weight: lighter;
    font-family: $titleFont;
    text-align: right;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    margin-bottom: -50px;
    margin-top: -40px;
  }

  .event-subtitle {
    margin-top: 8%;
    font-weight: lighter;
    font-family: $subtitlesFont;
    z-index: 2;
    text-align: right;
    color: $redIndigen;
    font-size: 1.5rem;
  }

  .event-p {
    margin-top: 2%;
    font-weight: lighter;
    color: white;
    text-align: right;
    font-family: $subtitlesFont;
    font-size: 1rem;
    width: 16vw;
  }

  .textBold {
    font-family: $textBold;
  }

  .event-video {
    margin-top: 1rem;
    width: 10vw;
    height: 15vh;
    display: block;
  }
}

// FONT SIZE SPECIAL SCREEN
@media only screen and (min-width: 1025px) and (max-width: 1920px) {
  .index-black-box {
    height: 7vh;
    width: 100vw;
    background-color: black;
  }
  .event-title {
    font-size: 4rem;
    margin-bottom: -3%;
    margin-top: -1%;
  }
  .event-subtitle {
    font-size: 1.5rem;
  }
  .event-p {
    line-height: 120%;
    font-size: 1rem;
    text-align: right;
  }
  .event-video {
    margin-top: 7%;
    width: 9rem;
    height: 6rem;
  }
  .separator-event {
    display: none;
  }
}
