footer{
  display: flex;
  background-color: black;
  color: white;
  padding: 2rem;
  font-family: $subtitlesFont;
}
.info-Asbl{
   display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  text-align: left;
  p:nth-child(3){
    line-height: 1.5rem;
    width: 50%;
  }
}
.socialContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.socialLinks a {
  color: white;
  font-family: $subtitlesFont;
  text-decoration: none;
  font-size: 2rem;
  &:hover {
    color: $redIndigen;
  }
}
.partner{
  font-size: 1rem;
}
footer a {
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {

}


@media screen and (min-width: 1025px) {
  footer{
    display: flex;
    background-color: black;
    color: white;
    padding: 2rem;
    font-family: $subtitlesFont;
  }
  .info-Asbl{
     display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    text-align: left;
  }
  .socialContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
  .socialLinks a {
    color: white;
    font-family: $subtitlesFont;
    text-decoration: none;
    font-size: rem;
    &:hover {
      color: $redIndigen;
    }
  }
  footer a {
    color: white;
    font-family: $subtitlesFont;
    text-decoration: none;
    font-size: 1.5rem;
    &:hover {
      color: $redIndigen;
    }
  }
}