/*FOOTER*/
.reseau {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: black;
  text-align: center;
  color: white;
}
.reseau a {
  color: white;
  font-family: $subtitlesFont;
  text-decoration: none;
  font-size: 1rem;
  &:hover {
    color: $redIndigen;
  }
}
.socialLinks {
  a{
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .reseau {
    padding-top: 2rem;
    padding: 2rem;
    a {
      font-size: 1.3rem;
      text-decoration: none;
    }
  }
  .socialLinks {
    a{
      font-size: 2rem;
    }
  }
}


@media screen and (min-width: 1025px) {
  .reseau {
    padding-top: 2rem;
    padding: 2rem;
    a {
      font-size: 1.3rem;
    }
  }
  .socialLinks {
    a{
      font-size: 2rem;
    }
  }
}
