.partenaires-banner {
  background-image: url("../img/parcoururbain.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
}
.filter {
  background-color: rgba(0, 0, 0, 0.5);
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: $titleFont;
  h1 {
    font-weight: normal;
    font-size: 3rem;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .partenaires-banner {
    height: 15rem;
  }
  .filter {
    height: 15rem;
    h1 {
      font-size: 4rem;
    }
  }
}
@media only screen and (min-width: 1025px) {
  // ------BANNER-------
  .partenaires-banner {
    height: 20rem;
  }
  .filter {
    height: 20rem;
    h1 {
      font-size: 4rem;
    }
  }
}

@import "event";

//Partenaires
.partenaires {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
  margin: 30px 0 50px 0;
}

.partenaires img {
  margin: 20px;
}