@import "event";
@import "index";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*
.event-title-small {
  color: white;
  height: 20vh;
  font-family: $titleFont;
  font-size: 3.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}*/
.tourism-banner {
  background-image: url("../img/landgraph.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.tourism-trapeze {
  display: flex;
  justify-content: flex-end;
  clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
  background-color: rgba(0, 0, 0, 0.514);
  padding: 2%;
}
.separator-tourism {
  font-size: 3vh;
  font-family: $subtitlesFont;
  text-align: center;
  height: 20vh;
  padding-top: calc(20vh / 2);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .tourism-trapeze {
    background-color: none;
  }
}
