* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  // ------BANNER-------
  .tourism-banner {
    background-image: url("../img/landgraph.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tourism-trapeze {
    display: flex;
    justify-content: flex-end;
    clip-path: polygon(52% 0, 100% 0%, 100% 100%, 76% 100%);
    background-color: rgba(255, 255, 255, 0.214);
    padding: 2%;
    z-index: -1;
  }
  .tourism-polygone-classique {
    width: 100vw;
    height: 15vh;
    background-image: url("../img/tourismebike.png");
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: $titleFont;
    margin-bottom: 10px;
  }
  .tourism-polygone-vip {
    width: 100vw;
    height: 15vh;
    background-image: url("../img/workshop.png");
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: $titleFont;
    margin-bottom: 10px;
    .title-events {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 15vh;
      background-color: rgba(0, 0, 0, 0.35);
    }
  }
  .tourism-polygone-urbain {
    width: 100vw;
    height: 15vh;
    background-image: url("../img/parcoururbain.png");
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: $titleFont;
    margin-bottom: 10px;
    .title-tourisme {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 15vh;
      background-color: rgba(0, 0, 0, 0.35);
    }
  }
  .separator-tourism {
    font-size: 3vh;
    font-family: $subtitlesFont;
    text-align: center;
    height: 20vh;
    padding-top: calc(20vh / 2);
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .event-title {
      font-size: 6rem;
    }
  }
  @media only screen and (min-width: 1025px) {
    // ------BANNER-------
    .tourism-banner {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: 85vh;
      width: 100vw;
    }
  
    .tourism-trapeze {
      clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
      background-color: rgba(0, 0, 0, 0.514);
      width: 70%;
      padding: 2%;
    }
  
    .tourism-description {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
    }
  
    .tourism-type {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  
    .tourism-title {
      font-weight: lighter;
      font-family: $titleFont;
      text-align: right;
      font-size: 2.5rem;
      background-color: rgba(0, 0, 0, 0);
      height: auto;
    }
  
    .tourism-subtitle {
      margin-top: 8%;
      font-weight: lighter;
      font-family: $subtitlesFont;
      z-index: 2;
      text-align: right;
      color: $redIndigen;
      font-size: 2rem;
    }
  
    .tourism-p {
      margin-top: 2%;
      font-weight: lighter;
      color: white;
      text-align: right;
      font-family: $subtitlesFont;
      font-size: 1rem;
      width: 16vw;
    }
  
    .textBold {
      font-family: $textBold;
    }
  
    .event-video {
      margin-top: 1rem;
      width: 10vw;
      height: 15vh;
      display: block;
    }
  }
  
  @media only screen and (min-width: 1025px) and (max-width: 1920px) {
    .tourism-polygone-classique {
      background-image: url("../img/tourismebikeNB.jpg");
      background-size: cover;
      background-position: center;
      height: 74.07407407vh;
      width: 33.3333%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
      margin-bottom: 0;
      .title-graffiti {
        height: 30vh;
        clip-path: polygon(0 0, 0% 100%, 70% 100%);
        background-color: rgba(255, 0, 0, 0.274);
        font-family: $titleFont;
        position: relative;
        p {
          position: absolute;
          line-height: 90%;
          left: 17%;
          bottom: 0%;
          color: white;
        }
      }
      &:hover {
        background-image: url("../img/tourismebike.png");
        height: 62.5vh;
        .title-graffiti {
          display: none;
        }
      }
    }
  
    .tourism-polygone-vip {
      margin-left: -38px;
      margin-bottom: 0;
      background-image: url("../img/workshopNB.png");
      background-size: cover;
      background-position: center;
      height: 74.07407407vh;
      width: 33.3333%;
      float: left;
      -webkit-clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0%, 100%);
      clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
      .title-events {
        height: 25vh;
        clip-path: polygon(0 0, 0 80%, 94% 0);
        background-color: rgba(255, 0, 0, 0.274);
        color: white;
        font-family: $titleFont;
        position: relative;
        p {
          position: absolute;
          left: 25%;
          top: 0%;
          color: white;
          padding-top: 2%;
        }
      }
      &:hover {
        background-image: url("../img/workshop.png");
        height: 62.5vh;
        .title-events {
          display: none;
        }
      }
    }
    .tourism-polygone-urbain {
      background-image: url("../img/parcoururbainNB.png");
      background-size: cover;
      background-position: center;
      margin-left: 4vh;
      margin-bottom: 0;
      height: 74.07407407vh;
      width: 29%;
      float: left;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
      .title-tourisme {
        height: 20vh;
        clip-path: polygon(0 0, 0 100%, 88% 100%);
        background-color: rgba(255, 0, 0, 0.274);
        color: white;
        font-family: $titleFont;
        position: relative;
        p {
          position: absolute;
          left: 7%;
          bottom: 0%;
          color: white;
        }
      }
      &:hover {
        background-image: url("../img/parcoururbain.png");
        height: 62.5vh;
        width: 26.2%;
        .title-tourisme {
          display: none;
        }
      }
    }
    .event-title {
      font-size: 5rem;
      margin-bottom: -3%;
      margin-top: -1%;
    }
    .event-subtitle {
      font-size: 1.5rem;
    }
    .event-p {
      line-height: 120%;
      font-size: 1rem;
      text-align: right;
    }
    .event-video {
      margin-top: 7%;
      width: 9rem;
      height: 6rem;
    }
  }