@font-face {
    font-family: "Sedgwick";
    src: url("../fonts/SedgwickAveDisplay-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

*,::before,::after {
    box-sizing:border-box;
    margin: 0;
    padding: 0;

}

$titleFont: Sedgwick, sans-serif;
$subtitlesFont: Roboto, sans-serif;
$textBold: Roboto-bold;
$redIndigen: #db3632;

// ------HEADER-------

.navbar:hover {
    opacity: 100%;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    opacity: 50%;
    height: 15vh;
    padding: 1rem 10rem 1rem 1rem;
    width: 100%;
}
.navbar-opaque {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    opacity: 100%;
    height: 15vh;
    padding: 1rem 10rem 1rem 1rem;
    width: 100%;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;

    margin-left: 5rem;
}

.nav-link {
    text-decoration: none;
    font-family: "Sedgwick";
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
}

.nav-link:hover {
    color: #db3632;
}

.logo {
    position: absolute;
    width: 11%;
    height: auto;
    opacity: 100%;
    z-index: 1;
    margin: 1.2rem;
}
.video {
    position: relative;
    top: -150px;
    z-index: -1;
}
/*FOOTER*/

.reseau {
    font-size: 5vh;
}

// ------BANNER-------
.event-banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 85vh;
    width: 100vw;
    background-image: url("../img/block-party.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.event-trapeze {
    clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
    background-color: rgba(0, 0, 0, 0.514);
    width: 70%;
    padding: 2%;
}

.event-description {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.event-type {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.event-title {
    font-weight: lighter;
    font-family: $titleFont;
    text-align: right;
    font-size: 7rem;
}

.event-subtitle {
    margin-top: 8%;
    font-weight: lighter;
    font-family: $subtitlesFont;
    z-index: 2;
    text-align: right;
    color: $redIndigen;
    font-size: 2rem;
}

.event-p {
    margin-top: 2%;
    font-weight: lighter;
    color: white;
    text-align: right;
    font-family: $subtitlesFont;
    font-size: 1rem;
    width: 16vw;
}

.textBold {
    font-family: $textBold;
}

.event-video {
    margin-top: 2rem;
    width: 15vw;
    height: 20vh;
}
// -------------------

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        height: auto;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.8rem 0;
    }
    .nav-link {
        color: black;
    }

    .hamburger {
        position: absolute;
        display: block;
        cursor: pointer;
        background-color: white;
        margin: 2px 1em 0 80%;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .logo {
        position: absolute;
        -webkit-transform: translate(0, -25%);
        transform: translate(0, -25%);
        margin: 3.5em auto 1em 1em;
        width: 5rem;
    }
    .navbar {
        height: 80px;
        opacity: 100%;
    }
    .video {
        position: relative;
        top: 150px;
        margin-top: 70px;
        z-index: 1;
        width: 100%;
    }

    // BANNER
    .event-banner {
        display: flex;
        flex-direction: row;
        justify-content: end;
        height: 45vh;
        background-image: url("../img/block-party.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .event-title {
        font-family: $titleFont;
        text-align: right;
        font-size: 7rem;
    }
    
    .event-trapeze {
        clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
        background-color: rgba(0, 0, 0, 0.514);
        width: 70%;
        padding: 2%;
    }
    
    .event-subtitle {
        font-family: $subtitlesFont;
        z-index: 2;
        text-align: right;
        color: $redIndigen;
        font-size: 1.5vw;
    }
    
    
    .event-description {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .event-p {
        display: none;
    }
    
    .textBold {
        font-family: $textBold;
    }
    
    .event-video {
        display: none;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .event-title {
        font-size: 5rem;
        margin-bottom: -3%;
    margin-top: -1%;
    }
    .event-subtitle {
        font-size: 1.5rem;
    }
    .event-p {
        font-size: 1rem;
        text-align: right;
    }
    .event-video {
        margin-top: 15%;
        width: 9rem;
        height: 7rem;
    }
}