@font-face {
    font-family: "Sedgwick";
    src: url("../fonts/SedgwickAveDisplay-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

$titleFont: Sedgwick, sans-serif;
$subtitlesFont: Roboto, sans-serif;
$redIndigen: #db3632;

// ------BANNER-------
.event-banner {
    height: 100vh;
    background-image: url("../img/block-party.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.event-title {
    font-family: $titleFont;
    text-align: right;
    font-size: 7vw;
}

.event-subtitle {
    font-family: $subtitlesFont;
    z-index: 2;
    text-align: right;
    color: $redIndigen;
    font-size: 1.5vw;
}

.event-trapeze {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 35vw;
    border-left: 20vh solid transparent;
    border-top: 100vh solid rgba(0, 0, 0, 0.561);
}
.event-description {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
}
.event-p {
    color: white;
    text-align: right;
    font-family: $subtitlesFont;
    font-size: 0.9vw;
    width: 15vw;
}

.event-video {
    width: 15vw;
    height: 20vh;
}
// -------------------
