@font-face {
font-family: "Sedgwick";
src: url("../fonts/SedgwickAveDisplay-Regular.ttf") format("truetype");
}

@font-face {
font-family: "Roboto";
src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

$titleFont: Sedgwick, sans-serif;
$subtitlesFont: Roboto, sans-serif;
$redIndigen: #db3632;
$titleFont: Sedgwick, sans-serif;
$subtitlesFont: Roboto, sans-serif;
$textBold: Roboto-bold;
$redIndigen: #db3632;