@font-face {
font-family: "Sedgwick";
src: url("../fonts/SedgwickAveDisplay-Regular.ttf") format("truetype");
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
li {
list-style: none;
}

a {
text-decoration: none;
}

.navbar:hover {
opacity: 100%;
}
.navbar {
display: flex;
justify-content: flex-end;
align-items: center;
background-color: black;
opacity: 50%;
height: 150px;
border : 1px solid red;
padding-right: 3rem;

}


.nav-menu {
display: flex;
justify-content: space-around;
align-items: flex-end;
width: 90%;

}
.nav-menu li{
    align-items: center;
}
.nav-link {
font-family: "Sedgwick";
font-size: 1.6rem;
font-weight: 400;
color: white;
}

.nav-link:hover {
color: #db3632;
}

.hamburger {
    display: none;
}
.logo {
    position: absolute;
    top: 4%;
    left: 2%;
    width: 11%;
    height: auto;
    opacity: 100%;
    z-index: 1;
    margin: auto;
    border:1px solid red;

}
.partner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 20vh;
    padding: 1rem 1.5rem;
  }
  .reseau {
    font-size: 5vh;
  }
  
.video{
    position: relative;
    top: -150px;
    z-index: -1;
}