@font-face {
  font-family: "Sedgwick";
  src: url("../fonts/SedgwickAveDisplay-Regular.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.index-polygone-graffiti {
  background-image: url("../img/graffiti-NB.jpg");
  background-size: cover;
  background-position: center;
  height: 74.07407407vh;
  width: 33.3333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}

.index-polygone-graffiti .title-graffiti {
  height: 30vh;
  -webkit-clip-path: polygon(0 0, 0% 100%, 70% 100%);
          clip-path: polygon(0 0, 0% 100%, 70% 100%);
  background-color: rgba(255, 0, 0, 0.274);
  font-size: 2.3vw;
  font-family: "Sedgwick";
  position: relative;
}

.index-polygone-graffiti .title-graffiti p {
  position: absolute;
  line-height: 90%;
  left: 17%;
  bottom: 0%;
  color: white;
}

.index-polygone-graffiti:hover {
  background-image: url("../img/graffiti.jpg");
  height: 62.5vh;
}

.index-polygone-graffiti:hover .title-graffiti {
  display: none;
}

.index-polygone-events {
  margin-left: -38px;
  background-image: url("../img/block-party-NB.jpg");
  background-size: cover;
  background-position: center;
  height: 74.07407407vh;
  width: 33.3333%;
  float: left;
  -webkit-clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0%, 100%);
  clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
}

.index-polygone-events .title-events {
  height: 25vh;
  -webkit-clip-path: polygon(0 0, 0 80%, 94% 0);
          clip-path: polygon(0 0, 0 80%, 94% 0);
  background-color: rgba(255, 0, 0, 0.274);
  color: white;
  font-size: 2.3vw;
  font-family: "Sedgwick";
  position: relative;
}

.index-polygone-events .title-events p {
  position: absolute;
  left: 25%;
  top: 0%;
  color: white;
  padding-top: 2%;
}

.index-polygone-events:hover {
  background-image: url("../img/block-party.jpg");
  height: 62.5vh;
}

.index-polygone-events:hover .title-events {
  display: none;
}

.index-polygone-tourisme {
  background-image: url("../img/parcour urbain-NB.jpg");
  background-size: cover;
  background-position: center;
  margin-left: 4vh;
  height: 74.07407407vh;
  width: 33.3333%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}

.index-polygone-tourisme .title-tourisme {
  height: 20vh;
  -webkit-clip-path: polygon(0 0, 0 100%, 88% 100%);
          clip-path: polygon(0 0, 0 100%, 88% 100%);
  background-color: rgba(255, 0, 0, 0.274);
  color: white;
  font-size: 2.3vw;
  font-family: "Sedgwick";
  position: relative;
}

.index-polygone-tourisme .title-tourisme p {
  position: absolute;
  left: 7%;
  bottom: 0%;
  color: white;
}

.index-polygone-tourisme:hover {
  background-image: url("../img/parcour urbain.jpg");
  height: 62.5vh;
  width: 28.45%;
}

.index-polygone-tourisme:hover .title-tourisme {
  display: none;
}

.triptych {
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.triptych:hover {
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
}

.index-black-box {
  height: 7vh;
  width: 100vw;
  background-color: black;
}

.index-black-box-bot {
  margin-top: 26vh;
  height: 7vh;
  width: 100vw;
  background-color: black;
}
/*# sourceMappingURL=index.css.map */