@font-face {
  font-family: "Sedgwick";
  src: url("../fonts/SedgwickAveDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

.banner {
  height: 100vh;
  background-image: url("../img/block-party.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: Sedgwick, sans-serif;
  text-align: right;
}

h2 {
  font-family: Roboto, sans-serif;
  z-index: 2;
  text-align: right;
  color: #db3632;
}

.trapeze {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 35vw;
  border-left: 20vh solid transparent;
  border-top: 100vh solid rgba(0, 0, 0, 0.561);
}

.description {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
}

p {
  color: white;
  text-align: right;
  font-family: Roboto, sans-serif;
}

a {
  font-family: Sedgwick, sans-serif;
}

i {
  font-size: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/

.navbar:hover {
  opacity: 100%;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  opacity: 50%;
  height: 15vh;
  padding: 1rem 10rem 1rem 1rem;
  width: 100%;
}
.navbar-opaque{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  opacity: 100%;
  height: 15vh;
  padding: 1rem 10rem 1rem 1rem;
  width: 100%;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style: none;

  margin-left: 5rem;
}

.nav-link {
  text-decoration: none;
  font-family: "Sedgwick";
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-link:hover {
  color: #db3632;
}

.logo {
  position: absolute;
  width: 11%;
  height: auto;
  opacity: 100%;
  z-index: 1;
  margin: 1.2rem;
}
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: auto;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1.8rem 0;
  }
  .nav-link {
    color: black;
  }

  .hamburger {
    position: absolute;
    display: block;
    cursor: pointer;
    background-color: white;
    margin: 2px 1em 0 80%;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .logo {
    position: absolute;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
    margin: 3.5em auto 1em 1em;
    width: 5rem;
  }
  .navbar {
    height: 80px;
    opacity: 100%;
  }
  .video {
    position: relative;
    top: 150px;
    margin-top: 70px;
    z-index: 1;
    width: 100%;
  }
}
.video {
  position: relative;
  top: -150px;
  z-index: -1;
}
/*FOOTER*/

.reseau {
  font-size: 5vh;
}
/*EVENT*/

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

.event-banner {
  height: 100vh;
  background-image: url("../img/blockparty.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.event-title {
  font-family: Sedgwick, sans-serif;
  text-align: right;
  font-size: 7vw;
}

.event-subtitle {
  font-family: Roboto, sans-serif;
  z-index: 2;
  text-align: right;
  color: #db3632;
  font-size: 1.5vw;
}

.event-trapeze {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 35vw;
  border-left: 20vh solid transparent;
  border-top: 100vh solid rgba(0, 0, 0, 0.561);
}

.event-description {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
}

.event-p {
  color: white;
  text-align: right;
  font-family: Roboto, sans-serif;
  font-size: 0.9vw;
  width: 15vw;
}

.event-video {
  width: 15vw;
  height: 20vh;
}

/*Page event second part*/
.title{
  font-family: Sedgwick, sans-serif;
  color: #db3632;
  font-size: 3vw;
}

.content{
 
  height: 50vh;
  width: 80vw;
}
.event-text{
  font-family: Roboto, sans-serif;
  font-size: 0.9vw;
  color: black;
}

.container_verse{
  overflow:hidden;
  height: 50vh;
  width: 80vw;
  text-align: right;
  margin-left: 10%;
  border-left: 2px solid #db3632;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 15%;
}
.shaped{
  float:left;
  height:50vh;
  width:40vw;
  float:right;
  background: black url(../img/graph.jpg) center top no-repeat;
  background-size:cover;
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  shape-margin: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  border: 1px solid black;
 
}
.container_reverse{
  overflow:hidden;
  height: 50vh;
  width: 80vw;
  text-align: left;
  margin-right: 10%;
  margin-left: 10%;
  border-right: 2px solid #db3632;;
  margin-top: 5%;
  margin-bottom: 15%;
 
}

.shaped_reverse{
  float:right;
  height:50vh;
  width:40vw;
  float:left;
  background: black url(../img/mama.png) center top no-repeat;
  background-size:cover;
  shape-outside: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  shape-margin: 20px;
  clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  border: 1px solid black;
 
}

