$titleFont: Sedgwick, sans-serif;
$subtitlesFont: Roboto, sans-serif;
$textBold: Roboto-bold,sans-serif;
$redIndigen: #db3632;

@import 'tourism';
@import 'streetart';
@import 'partenaires';
@import 'header';
@import 'gallery';
@import 'footer';
@import 'font';
@import 'event';
@import 'index';

