<<<<<<< HEAD
@font-face { 
    font-family: "title_font"; 
    src: url('../fonts/SedgwickAveDisplay-Regular.ttf'); 
    }
a {
font-family: "title_font";
}
h1 {
font-family: "title_font";
}
i{
    font-size: 1.8rem;
}
header {
   background-color: rgb(0, 0, 0, 0.2);
}
=======
@font-face {
    font-family: "Sedgwick";
    src: url("../fonts/SedgwickAveDisplay-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

$titleFont: Sedgwick, sans-serif;
$subtitlesFont: Roboto, sans-serif;
$redIndigen: #db3632;
//$opacityColor: ;
// ------BANNER-------
.banner {
    height: 100vh;
    background-image: url("../img/block-party.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: $titleFont;
    text-align: right;
}
h2 {
    font-family: $subtitlesFont;
    z-index: 2;
    text-align: right;
    color: $redIndigen;
}
.trapeze {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 35vw;
    border-left: 20vh solid transparent;
    border-top: 100vh solid rgba(0, 0, 0, 0.561);
}
.description {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
}
p {
    color: white;
    text-align: right;
    font-family: $subtitlesFont;
}
// -------------------
>>>>>>> fac9a8d035bd9005b59375c34e416416201d13d1
