@font-face {
    font-family: "Sedgwick";
    src: url("../fonts/SedgwickAveDisplay-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

$titleFont: Sedgwick, sans-serif;
$subtitlesFont: Roboto,sans-serif;
//$opacityColor: ;
// ------BANNER-------
.banner {
    height: 100vh;
    background-image: url("../img/block-party.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    position: relative;
    left: 0px;
    top: 50px;
}

h1 {
    font-family: $titleFont;
    
}
h2 {
    font-family: $subtitlesFont;
    z-index: 2;
}
// -------------------

.trapeze{
    position: absolute;
    z-index: -1;
    width  : 35vw;
    height : 0;
    border-left  : 20vh solid transparent;
    border-right : 0px solid transparent;
    border-top   : 100vh solid rgba(0, 0, 0, 0.404);
  }
@font-face { 
    font-family: "title_font"; 
    src: url('../fonts/SedgwickAveDisplay-Regular.ttf'); 
    }
a {
font-family: "title_font";
}
h1 {
font-family: "title_font";
}
i{
    font-size: 1.8rem;
}
header {
   background-color: rgb(0, 0, 0, 0.2);
}
