* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// ------BANNER-------
.gallery-banner {
  background-image: url("../images/blockparty.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.event-trapeze {
  background-color: none;
}

.event-description {
  color: none;
}

.event-type {
  display: none;
}

.event-video {
  display: none;
}

.event-title {
  color: white;
  height: 50vh;
  font-family: $titleFont;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.514);
}
.event-subtitle-mobile a {
  text-decoration: none;
  color: $redIndigen;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .event-title {
    font-size: 6rem;
  }
  .separator-event {
    visibility: visible;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
    font-family: $textBold;
    color: $redIndigen;
    font-size: 0.6rem;
    margin-top: 5%;
  }
}
@media only screen and (min-width: 1025px) {
  // ------BANNER-------
  .event-banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 85vh;
    width: 100vw;
  }

  .event-trapeze {
    clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
    background-color: rgba(0, 0, 0, 0.514);
    width: 70%;
    padding: 2%;
  }

  .event-description {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
  }

  .event-type {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .event-title {
    font-weight: lighter;
    font-family: $titleFont;
    text-align: right;
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    margin-bottom: -50px;
    margin-top: -40px;
  }

  .event-subtitle {
    margin-top: 8%;
    font-weight: lighter;
    font-family: $subtitlesFont;
    z-index: 2;
    text-align: right;
    color: $redIndigen;
    font-size: 2rem;
  }

  .event-p {
    margin-top: 2%;
    font-weight: lighter;
    color: white;
    text-align: right;
    font-family: $subtitlesFont;
    font-size: 1rem;
    width: 16vw;
  }

  .textBold {
    font-family: $textBold;
  }

  .event-video {
    margin-top: 1rem;
    width: 10vw;
    height: 15vh;
    display: block;
  }
}

// FONT SIZE SPECIAL SCREEN
@media only screen and (min-width: 1025px) and (max-width: 1920px) {
  .index-black-box {
    height: 7vh;
    width: 100vw;
    background-color: black;
  }
  .event-title {
    font-size: 5rem;
    margin-bottom: -3%;
    margin-top: -1%;
  }
  .event-subtitle {
    font-size: 1.5rem;
  }
  .event-p {
    line-height: 120%;
    font-size: 1rem;
    text-align: right;
  }
  .event-video {
    margin-top: 7%;
    width: 9rem;
    height: 6rem;
  }
  .separator-event {
    display: none;
  }
}

//Galerie
.container {
  margin: 0px 10px 40px 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100px 300px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.gallery-item:hover .image img {
  transform: scale(1.5);
}

//WIDTH
.w-1 {
  grid-column: span 1;
}
.w-2 {
  grid-column: span 2;
}
.w-3 {
  grid-column: span 3;
}
.w-4 {
  grid-column: span 4;
}
.w-5 {
  grid-column: span 5;
}
.w-6 {
  grid-column: span 6;
}

//HEIGHT
.h-1 {
  grid-row: span 1;
}
.h-2 {
  grid-row: span 2;
}
.h-3 {
  grid-row: span 3;
}
.h-4 {
  grid-row: span 4;
}
.h-5 {
  grid-row: span 5;
}
.h-6 {
  grid-row: span 6;
}

//Responsive

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0px 50px 40px 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px 300px;
    grid-gap: 10px;
    grid-auto-flow: dense;
  }
}

@media only screen and (min-width: 1025px) {
  .container {
    margin: 0px 50px 40px 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px 300px;
    grid-gap: 10px;
    grid-auto-flow: dense;
  }
}

@keyframes move-down {
  0% {
    top: 10%;
  }
  50% {
    top: 35%;
  }
  100% {
    top: 50%;
  }
}
