* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tourism-banner {
  background-image: url("../img/landgraph.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.tourism-trapeze {
  background-color: none;
}

.tourism-description {
  color: none;
}

.tourism-type {
  display: none;
}

.tourism-video {
  display: none;
}

.tourism-title {
  color: white;
  height: 50vh;
  font-family: Sedgwick, sans-serif;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.514);
}

.tourism-polygone-classique {
  width: 100vw;
  height: 15vh;
  background-image: url("../img/tourismebike.png");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  font-family: Sedgwick, sans-serif;
  margin-bottom: 10px;
}

.tourism-polygone-vip {
  width: 100vw;
  height: 15vh;
  background-image: url("../img/workshop.png");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  font-family: Sedgwick, sans-serif;
  margin-bottom: 10px;
}

.tourism-polygone-vip .title-events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.35);
}

.tourism-polygone-urbain {
  width: 100vw;
  height: 15vh;
  background-image: url("../img/parcoururbain.png");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  font-family: Sedgwick, sans-serif;
  margin-bottom: 10px;
}

.tourism-polygone-urbain .title-tourisme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.35);
}

.separator-tourism {
  font-size: 3vh;
  font-family: Roboto, sans-serif;
  text-align: center;
  height: 20vh;
  padding-top: calc(20vh / 2);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .event-title {
    font-size: 6rem;
  }
}

@media only screen and (min-width: 1025px) {
  .tourism-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 85vh;
    width: 100vw;
  }
  .tourism-trapeze {
    -webkit-clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
            clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
    background-color: rgba(0, 0, 0, 0.514);
    width: 70%;
    padding: 2%;
  }
  .tourism-description {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .tourism-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .tourism-title {
    font-weight: lighter;
    font-family: Sedgwick, sans-serif;
    text-align: right;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0);
    height: auto;
  }
  .tourism-subtitle {
    margin-top: 8%;
    font-weight: lighter;
    font-family: Roboto, sans-serif;
    z-index: 2;
    text-align: right;
    color: #db3632;
    font-size: 2rem;
  }
  .tourism-p {
    margin-top: 2%;
    font-weight: lighter;
    color: white;
    text-align: right;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    width: 16vw;
  }
  .textBold {
    font-family: Roboto-bold;
  }
  .event-video {
    margin-top: 1rem;
    width: 10vw;
    height: 15vh;
    display: block;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1920px) {
  .tourism-polygone-classique {
    background-image: url("../img/tourismebikeNB.jpg");
    background-size: cover;
    background-position: center;
    height: 74.07407407vh;
    width: 33.3333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    margin-bottom: 0;
  }
  .tourism-polygone-classique .title-graffiti {
    height: 30vh;
    -webkit-clip-path: polygon(0 0, 0% 100%, 70% 100%);
            clip-path: polygon(0 0, 0% 100%, 70% 100%);
    background-color: rgba(255, 0, 0, 0.274);
    font-family: Sedgwick, sans-serif;
    position: relative;
  }
  .tourism-polygone-classique .title-graffiti p {
    position: absolute;
    line-height: 90%;
    left: 17%;
    bottom: 0%;
    color: white;
  }
  .tourism-polygone-classique:hover {
    background-image: url("../img/tourismebike.png");
    height: 62.5vh;
  }
  .tourism-polygone-classique:hover .title-graffiti {
    display: none;
  }
  .tourism-polygone-vip {
    margin-left: -38px;
    margin-bottom: 0;
    background-image: url("../img/workshopNB.png");
    background-size: cover;
    background-position: center;
    height: 74.07407407vh;
    width: 33.3333%;
    float: left;
    -webkit-clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0%, 100%);
    clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
  }
  .tourism-polygone-vip .title-events {
    height: 25vh;
    -webkit-clip-path: polygon(0 0, 0 80%, 94% 0);
            clip-path: polygon(0 0, 0 80%, 94% 0);
    background-color: rgba(255, 0, 0, 0.274);
    color: white;
    font-family: Sedgwick, sans-serif;
    position: relative;
  }
  .tourism-polygone-vip .title-events p {
    position: absolute;
    left: 25%;
    top: 0%;
    color: white;
    padding-top: 2%;
  }
  .tourism-polygone-vip:hover {
    background-image: url("../img/workshop.png");
    height: 62.5vh;
  }
  .tourism-polygone-vip:hover .title-events {
    display: none;
  }
  .tourism-polygone-urbain {
    background-image: url("../img/parcoururbainNB.png");
    background-size: cover;
    background-position: center;
    margin-left: 4vh;
    margin-bottom: 0;
    height: 74.07407407vh;
    width: 29%;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  }
  .tourism-polygone-urbain .title-tourisme {
    height: 20vh;
    -webkit-clip-path: polygon(0 0, 0 100%, 88% 100%);
            clip-path: polygon(0 0, 0 100%, 88% 100%);
    background-color: rgba(255, 0, 0, 0.274);
    color: white;
    font-family: Sedgwick, sans-serif;
    position: relative;
  }
  .tourism-polygone-urbain .title-tourisme p {
    position: absolute;
    left: 7%;
    bottom: 0%;
    color: white;
  }
  .tourism-polygone-urbain:hover {
    background-image: url("../img/parcoururbain.png");
    height: 62.5vh;
    width: 26.2%;
  }
  .tourism-polygone-urbain:hover .title-tourisme {
    display: none;
  }
  .event-title {
    font-size: 5rem;
    margin-bottom: -3%;
    margin-top: -1%;
  }
  .event-subtitle {
    font-size: 1.5rem;
  }
  .event-p {
    line-height: 120%;
    font-size: 1rem;
    text-align: right;
  }
  .event-video {
    margin-top: 7%;
    width: 9rem;
    height: 6rem;
  }
}

.partenaires-banner {
  background-image: url("../img/parcoururbain.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.event-trapeze {
  background-color: none;
}

.event-description {
  color: none;
}

.event-type {
  display: none;
}

.event-video {
  display: none;
}

.event-title {
  color: white;
  height: 50vh;
  font-family: Sedgwick, sans-serif;
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.514);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .event-title {
    font-size: 6rem;
  }
}

@media only screen and (min-width: 1025px) {
  .partenaires-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 85vh;
    width: 100vw;
  }
  .event-trapeze {
    -webkit-clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
            clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
    background-color: rgba(0, 0, 0, 0.514);
    width: 70%;
    padding: 2%;
  }
  .event-description {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .event-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .partenaires-title {
    font-weight: lighter;
    font-family: Sedgwick, sans-serif;
    text-align: right;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    margin-bottom: -50px;
    margin-top: -40px;
  }
  .event-subtitle {
    margin-top: 8%;
    font-weight: lighter;
    font-family: Roboto, sans-serif;
    z-index: 2;
    text-align: right;
    color: #db3632;
    font-size: 2rem;
  }
  .event-p {
    margin-top: 2%;
    font-weight: lighter;
    color: white;
    text-align: right;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    width: 16vw;
  }
  .textBold {
    font-family: Roboto-bold;
  }
  .event-video {
    margin-top: 1rem;
    width: 10vw;
    height: 15vh;
    display: block;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1500px) {
  .event-title {
    font-size: 5rem;
    margin-bottom: -3%;
    margin-top: -1%;
  }
  .event-subtitle {
    font-size: 1.5rem;
  }
  .event-p {
    line-height: 120%;
    font-size: 1rem;
    text-align: right;
  }
  .event-video {
    margin-top: 7%;
    width: 9rem;
    height: 6rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.event-banner {
  background-image: url("../img/blockparty.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.event-trapeze {
  background-color: none;
}

.event-description {
  color: none;
}

.event-type {
  display: none;
}

.event-video {
  display: none;
}

.event-title {
  color: white;
  height: 50vh;
  font-family: Sedgwick, sans-serif;
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.514);
}

.event-subtitle-mobile a {
  text-decoration: none;
  color: #db3632;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .event-title {
    font-size: 6rem;
  }
  .separator-event {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3%;
    font-family: Roboto-bold;
    color: #db3632;
    font-size: 0.6rem;
    margin-top: 5%;
  }
}

@media only screen and (min-width: 1025px) {
  .event-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 85vh;
    width: 100vw;
  }
  .event-trapeze {
    -webkit-clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
            clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
    background-color: rgba(0, 0, 0, 0.514);
    width: 70%;
    padding: 2%;
  }
  .event-description {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .event-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .event-title {
    font-weight: lighter;
    font-family: Sedgwick, sans-serif;
    text-align: right;
    font-size: 7rem;
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    margin-bottom: -50px;
    margin-top: -40px;
  }
  .event-subtitle {
    margin-top: 8%;
    font-weight: lighter;
    font-family: Roboto, sans-serif;
    z-index: 2;
    text-align: right;
    color: #db3632;
    font-size: 2rem;
  }
  .event-p {
    margin-top: 2%;
    font-weight: lighter;
    color: white;
    text-align: right;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    width: 16vw;
  }
  .textBold {
    font-family: Roboto-bold;
  }
  .event-video {
    margin-top: 1rem;
    width: 10vw;
    height: 15vh;
    display: block;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1920px) {
  .index-black-box {
    height: 7vh;
    width: 100vw;
    background-color: black;
  }
  .event-title {
    font-size: 5rem;
    margin-bottom: -3%;
    margin-top: -1%;
  }
  .event-subtitle {
    font-size: 1.5rem;
  }
  .event-p {
    line-height: 120%;
    font-size: 1rem;
    text-align: right;
  }
  .event-video {
    margin-top: 7%;
    width: 9rem;
    height: 6rem;
  }
  .separator-event {
    display: none;
  }
}

/*TEXTE_PHOTO EN DIAGONALE PAT*/
.title {
  font-family: Sedgwick, sans-serif;
  color: #db3632;
  font-size: 2rem;
  padding: 1rem;
}

.event-text {
  font-family: Roboto, sans-serif;
  font-size: 0.8rem;
  color: black;
  padding: 1rem;
}

.container_verse {
  overflow: hidden;
  height: 50vh;
  width: 80vw;
  text-align: right;
  margin-left: 10%;
  border-left: 2px solid #db3632;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 15%;
}

.shaped {
  height: 50vh;
  width: 40vw;
  float: right;
  background: black url(../img/graph.png) center top no-repeat;
  background-size: cover;
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  shape-margin: 1.5rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  border: 1px solid black;
}

.container_reverse {
  overflow: hidden;
  height: 50vh;
  width: 80vw;
  text-align: left;
  margin-right: 10%;
  margin-left: 10%;
  border-right: 2px solid #db3632;
  margin-top: 5%;
  margin-bottom: 15%;
}

.shaped_reverse {
  height: 50vh;
  width: 40vw;
  float: left;
  background: black url(../img/mama.png) center top no-repeat;
  background-size: cover;
  shape-outside: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  shape-margin: 1.5rem;
  -webkit-clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  border: 1px solid black;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .shaped {
    border: none;
    shape-outside: none;
    -webkit-clip-path: none;
            clip-path: none;
    margin-left: 1rem;
  }
  .shaped_reverse {
    border: none;
    shape-outside: none;
    margin-right: 1rem;
    -webkit-clip-path: none;
            clip-path: none;
  }
  .content_verse {
    height: 50vh;
    width: 80vw;
  }
  .content_reverse {
    height: 50vh;
    width: 80vw;
    text-align: right;
    padding-right: 0.5rem;
  }
  .title {
    font-size: 0.8rem;
    padding: 0.4rem;
  }
  .event-text {
    font-size: 0.5rem;
    padding: 0;
    font-weight: normal;
    letter-spacing: 1px;
  }
  /*disparition du banner en responsive*/
  .event-trapeze {
    background-color: rgba(0, 0, 0, 0);
  }
  .event-video {
    display: none;
  }
  .event-subtitle {
    display: none;
  }
  .event-p {
    display: none;
  }
  .separator-event {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3%;
    font-family: Roboto-bold;
    color: #db3632;
    font-size: 0.6rem;
    margin-top: 5%;
  }
}

.partenaires {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px;
  margin: 30px 0 50px 0;
}

.partenaires img {
  margin: 20px;
}

/*HEADER*/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  height: 7rem;
  width: 100%;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.nav-item {
  list-style: none;
  margin-left: 5rem;
}

.nav-link {
  text-decoration: none;
  font-family: "Sedgwick";
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
  /*padding-left: 2rem;
    padding-right: 2rem;*/
}

.nav-link:hover {
  color: #db3632;
}

.logo {
  position: absolute;
  width: 11%;
  height: auto;
  opacity: 100%;
  z-index: 1;
  margin: 1.2rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: auto;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 1.8rem 0;
  }
  .nav-link {
    color: black;
  }
  .hamburger {
    position: absolute;
    display: block;
    cursor: pointer;
    background-color: white;
    margin: 2px 1em 0 80%;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .logo {
    position: absolute;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
    margin: 3.5em auto 1em 1em;
    width: 5rem;
  }
  .navbar {
    height: 80px;
    opacity: 100%;
  }
  .video {
    position: relative;
    margin-top: -80px;
    z-index: 1;
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: auto;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 1.8rem 0;
  }
  .nav-link {
    color: black;
  }
  .hamburger {
    position: absolute;
    display: block;
    cursor: pointer;
    background-color: white;
    margin: 2px 1em 0 80%;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .logo {
    position: absolute;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
    margin: 3.5em auto 1em 1em;
    width: 5rem;
  }
  .navbar {
    height: 80px;
    opacity: 100%;
  }
  .video {
    position: relative;
    margin-top: -80px;
    z-index: 1;
    width: 100%    !important;
    height: auto   !important;
  }
}

video {
  display: block;
  width: 100%;
}

.video {
  position: relative;
  margin-top: -115px;
  z-index: -1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gallery-banner {
  background-image: url("../images/blockparty.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.event-trapeze {
  background-color: none;
}

.event-description {
  color: none;
}

.event-type {
  display: none;
}

.event-video {
  display: none;
}

.event-title {
  color: white;
  height: 50vh;
  font-family: Sedgwick, sans-serif;
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.514);
}

.event-subtitle-mobile a {
  text-decoration: none;
  color: #db3632;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .event-title {
    font-size: 6rem;
  }
  .separator-event {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3%;
    font-family: Roboto-bold;
    color: #db3632;
    font-size: 0.6rem;
    margin-top: 5%;
  }
}

@media only screen and (min-width: 1025px) {
  .gallery-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 85vh;
    width: 100vw;
  }
  .event-trapeze {
    -webkit-clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
            clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
    background-color: rgba(0, 0, 0, 0.514);
    width: 70%;
    padding: 2%;
  }
  .event-description {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
  .event-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .event-title {
    font-weight: lighter;
    font-family: Sedgwick, sans-serif;
    text-align: right;
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    margin-bottom: -50px;
    margin-top: -40px;
  }
  .event-subtitle {
    margin-top: 8%;
    font-weight: lighter;
    font-family: Roboto, sans-serif;
    z-index: 2;
    text-align: right;
    color: #db3632;
    font-size: 2rem;
  }
  .event-p {
    margin-top: 2%;
    font-weight: lighter;
    color: white;
    text-align: right;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    width: 16vw;
  }
  .textBold {
    font-family: Roboto-bold;
  }
  .event-video {
    margin-top: 1rem;
    width: 10vw;
    height: 15vh;
    display: block;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1920px) {
  .index-black-box {
    height: 7vh;
    width: 100vw;
    background-color: black;
  }
  .event-title {
    font-size: 5rem;
    margin-bottom: -3%;
    margin-top: -1%;
  }
  .event-subtitle {
    font-size: 1.5rem;
  }
  .event-p {
    line-height: 120%;
    font-size: 1rem;
    text-align: right;
  }
  .event-video {
    margin-top: 7%;
    width: 9rem;
    height: 6rem;
  }
  .separator-event {
    display: none;
  }
}

.container {
  margin: 0px 10px 40px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100px 300px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.gallery-item:hover .image img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.w-1 {
  grid-column: span 1;
}

.w-2 {
  grid-column: span 2;
}

.w-3 {
  grid-column: span 3;
}

.w-4 {
  grid-column: span 4;
}

.w-5 {
  grid-column: span 5;
}

.w-6 {
  grid-column: span 6;
}

.h-1 {
  grid-row: span 1;
}

.h-2 {
  grid-row: span 2;
}

.h-3 {
  grid-row: span 3;
}

.h-4 {
  grid-row: span 4;
}

.h-5 {
  grid-row: span 5;
}

.h-6 {
  grid-row: span 6;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0px 50px 40px 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px 300px;
    grid-gap: 10px;
    grid-auto-flow: dense;
  }
}

@media only screen and (min-width: 1025px) {
  .container {
    margin: 0px 50px 40px 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px 300px;
    grid-gap: 10px;
    grid-auto-flow: dense;
  }
}

@-webkit-keyframes move-down {
  0% {
    top: 10%;
  }
  50% {
    top: 35%;
  }
  100% {
    top: 50%;
  }
}

@keyframes move-down {
  0% {
    top: 10%;
  }
  50% {
    top: 35%;
  }
  100% {
    top: 50%;
  }
}

/*FOOTER*/
.reseau {
  font-size: 2rem;
  text-align: center;
  color: white;
  background: black;
  padding: 2rem;
}

.reseau a {
  color: white;
  text-decoration: none;
}

@font-face {
  font-family: "Sedgwick";
  src: url("../fonts/SedgwickAveDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.event-banner {
  background-image: url("../img/blockparty.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.event-trapeze {
  background-color: none;
}

.event-description {
  color: none;
}

.event-type {
  display: none;
}

.event-video {
  display: none;
}

.event-title {
  color: white;
  height: 50vh;
  font-family: Sedgwick, sans-serif;
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.514);
}

.event-subtitle-mobile a {
  text-decoration: none;
  color: #db3632;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .event-title {
    font-size: 6rem;
  }
  .separator-event {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3%;
    font-family: Roboto-bold;
    color: #db3632;
    font-size: 0.6rem;
    margin-top: 5%;
  }
}

@media only screen and (min-width: 1025px) {
  .event-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 85vh;
    width: 100vw;
  }
  .event-trapeze {
    -webkit-clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
            clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
    background-color: rgba(0, 0, 0, 0.514);
    width: 70%;
    padding: 2%;
  }
  .event-description {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .event-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .event-title {
    font-weight: lighter;
    font-family: Sedgwick, sans-serif;
    text-align: right;
    font-size: 7rem;
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    margin-bottom: -50px;
    margin-top: -40px;
  }
  .event-subtitle {
    margin-top: 8%;
    font-weight: lighter;
    font-family: Roboto, sans-serif;
    z-index: 2;
    text-align: right;
    color: #db3632;
    font-size: 2rem;
  }
  .event-p {
    margin-top: 2%;
    font-weight: lighter;
    color: white;
    text-align: right;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    width: 16vw;
  }
  .textBold {
    font-family: Roboto-bold;
  }
  .event-video {
    margin-top: 1rem;
    width: 10vw;
    height: 15vh;
    display: block;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1920px) {
  .index-black-box {
    height: 7vh;
    width: 100vw;
    background-color: black;
  }
  .event-title {
    font-size: 5rem;
    margin-bottom: -3%;
    margin-top: -1%;
  }
  .event-subtitle {
    font-size: 1.5rem;
  }
  .event-p {
    line-height: 120%;
    font-size: 1rem;
    text-align: right;
  }
  .event-video {
    margin-top: 7%;
    width: 9rem;
    height: 6rem;
  }
  .separator-event {
    display: none;
  }
}

/*TEXTE_PHOTO EN DIAGONALE PAT*/
.title {
  font-family: Sedgwick, sans-serif;
  color: #db3632;
  font-size: 2rem;
  padding: 1rem;
}

.event-text {
  font-family: Roboto, sans-serif;
  font-size: 0.8rem;
  color: black;
  padding: 1rem;
}

.container_verse {
  overflow: hidden;
  height: 50vh;
  width: 80vw;
  text-align: right;
  margin-left: 10%;
  border-left: 2px solid #db3632;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 15%;
}

.shaped {
  height: 50vh;
  width: 40vw;
  float: right;
  background: black url(../img/graph.png) center top no-repeat;
  background-size: cover;
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  shape-margin: 1.5rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  border: 1px solid black;
}

.container_reverse {
  overflow: hidden;
  height: 50vh;
  width: 80vw;
  text-align: left;
  margin-right: 10%;
  margin-left: 10%;
  border-right: 2px solid #db3632;
  margin-top: 5%;
  margin-bottom: 15%;
}

.shaped_reverse {
  height: 50vh;
  width: 40vw;
  float: left;
  background: black url(../img/mama.png) center top no-repeat;
  background-size: cover;
  shape-outside: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  shape-margin: 1.5rem;
  -webkit-clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  border: 1px solid black;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .shaped {
    border: none;
    shape-outside: none;
    -webkit-clip-path: none;
            clip-path: none;
    margin-left: 1rem;
  }
  .shaped_reverse {
    border: none;
    shape-outside: none;
    margin-right: 1rem;
    -webkit-clip-path: none;
            clip-path: none;
  }
  .content_verse {
    height: 50vh;
    width: 80vw;
  }
  .content_reverse {
    height: 50vh;
    width: 80vw;
    text-align: right;
    padding-right: 0.5rem;
  }
  .title {
    font-size: 0.8rem;
    padding: 0.4rem;
  }
  .event-text {
    font-size: 0.5rem;
    padding: 0;
    font-weight: normal;
    letter-spacing: 1px;
  }
  /*disparition du banner en responsive*/
  .event-trapeze {
    background-color: rgba(0, 0, 0, 0);
  }
  .event-video {
    display: none;
  }
  .event-subtitle {
    display: none;
  }
  .event-p {
    display: none;
  }
  .separator-event {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3%;
    font-family: Roboto-bold;
    color: #db3632;
    font-size: 0.6rem;
    margin-top: 5%;
  }
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

/*HEADER*/
.navbar:hover {
  opacity: 100%;
}

.opacity {
  opacity: 50%;
}

.triptych-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.triptych-wrapper p {
  font-size: 1.3rem;
  line-height: 95%;
}

.index-polygone-graffiti {
  width: 100vw;
  height: 15vh;
  background-image: url("../img/graffiti.png");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  font-family: Sedgwick, sans-serif;
  margin-bottom: 10px;
}

.index-polygone-graffiti .title-graffiti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.35);
}

.index-polygone-events {
  width: 100vw;
  height: 15vh;
  background-image: url("../img/blockparty.png");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  font-family: Sedgwick, sans-serif;
  margin-bottom: 10px;
}

.index-polygone-events .title-events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.35);
}

.index-polygone-tourisme {
  width: 100vw;
  height: 15vh;
  background-image: url("../img/parcoururbain.png");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  font-family: Sedgwick, sans-serif;
  margin-bottom: 10px;
}

.index-polygone-tourisme .title-tourisme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.35);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .triptych-wrapper p {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1920px) {
  .index-polygone-graffiti {
    background-image: url("../img/graffitiNB.png");
    background-size: cover;
    background-position: center;
    height: 74.07407407vh;
    width: 33.3333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    margin-bottom: 0;
  }
  .index-polygone-graffiti .title-graffiti {
    height: 30vh;
    -webkit-clip-path: polygon(0 0, 0% 100%, 70% 100%);
            clip-path: polygon(0 0, 0% 100%, 70% 100%);
    background-color: rgba(255, 0, 0, 0.274);
    font-family: Sedgwick, sans-serif;
    position: relative;
  }
  .index-polygone-graffiti .title-graffiti p {
    position: absolute;
    line-height: 90%;
    left: 17%;
    bottom: 0%;
    color: white;
  }
  .index-polygone-graffiti:hover {
    background-image: url("../img/graffiti.png");
    height: 62.5vh;
  }
  .index-polygone-graffiti:hover .title-graffiti {
    display: none;
  }
  .index-polygone-events {
    margin-left: -38px;
    margin-bottom: 0;
    background-image: url("../img/blockpartyNB.png");
    background-size: cover;
    background-position: center;
    height: 74.07407407vh;
    width: 33.3333%;
    float: left;
    -webkit-clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0%, 100%);
    clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
  }
  .index-polygone-events .title-events {
    height: 25vh;
    -webkit-clip-path: polygon(0 0, 0 80%, 94% 0);
            clip-path: polygon(0 0, 0 80%, 94% 0);
    background-color: rgba(255, 0, 0, 0.274);
    color: white;
    font-family: Sedgwick, sans-serif;
    position: relative;
  }
  .index-polygone-events .title-events p {
    position: absolute;
    left: 25%;
    top: 0%;
    color: white;
    padding-top: 2%;
  }
  .index-polygone-events:hover {
    background-image: url("../img/blockparty.png");
    height: 62.5vh;
  }
  .index-polygone-events:hover .title-events {
    display: none;
  }
  .index-polygone-tourisme {
    background-image: url("../img/parcoururbainNB.png");
    background-size: cover;
    background-position: center;
    margin-left: 4vh;
    margin-bottom: 0;
    height: 74.07407407vh;
    width: 29%;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  }
  .index-polygone-tourisme .title-tourisme {
    height: 20vh;
    -webkit-clip-path: polygon(0 0, 0 100%, 88% 100%);
            clip-path: polygon(0 0, 0 100%, 88% 100%);
    background-color: rgba(255, 0, 0, 0.274);
    color: white;
    font-family: Sedgwick, sans-serif;
    position: relative;
  }
  .index-polygone-tourisme .title-tourisme p {
    position: absolute;
    left: 7%;
    bottom: 0%;
    color: white;
  }
  .index-polygone-tourisme:hover {
    background-image: url("../img/parcoururbain.png");
    height: 62.5vh;
    width: 26.2%;
  }
  .index-polygone-tourisme:hover .title-tourisme {
    display: none;
  }
  .triptych-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .triptych {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  .triptych:hover {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }
  .index-black-box {
    height: 7vh;
    width: 100vw;
    background-color: black;
  }
  .index-black-box-bot {
    margin-top: 25.9vh;
    width: 100vw;
    background-color: black;
  }
  .triptych-wrapper p {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1920px) {
  .triptych-wrapper p {
    font-size: 2.8rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ecole-banner {
  background-image: url("../images/blockparty.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.event-trapeze {
  background-color: none;
}

.event-description {
  color: none;
}

.event-type {
  display: none;
}

.event-video {
  display: none;
}

.event-title {
  color: white;
  height: 50vh;
  font-family: Sedgwick, sans-serif;
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.514);
}

.event-subtitle-mobile a {
  text-decoration: none;
  color: #db3632;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .event-title {
    font-size: 6rem;
  }
  .separator-event {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3%;
    font-family: Roboto-bold;
    color: #db3632;
    font-size: 0.6rem;
    margin-top: 5%;
  }
}

@media only screen and (min-width: 1025px) {
  .ecole-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 85vh;
    width: 100vw;
  }
  .event-trapeze {
    -webkit-clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
            clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
    background-color: rgba(0, 0, 0, 0.514);
    width: 70%;
    padding: 2%;
  }
  .event-description {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
  .event-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .event-title {
    font-weight: lighter;
    font-family: Sedgwick, sans-serif;
    text-align: right;
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    margin-bottom: -50px;
    margin-top: -40px;
  }
  .event-subtitle {
    margin-top: 8%;
    font-weight: lighter;
    font-family: Roboto, sans-serif;
    z-index: 2;
    text-align: right;
    color: #db3632;
    font-size: 2rem;
  }
  .event-p {
    margin-top: 2%;
    font-weight: lighter;
    color: white;
    text-align: right;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    width: 16vw;
  }
  .textBold {
    font-family: Roboto-bold;
  }
  .event-video {
    margin-top: 1rem;
    width: 10vw;
    height: 15vh;
    display: block;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1920px) {
  .index-black-box {
    height: 7vh;
    width: 100vw;
    background-color: black;
  }
  .event-title {
    font-size: 5rem;
    margin-bottom: -3%;
    margin-top: -1%;
  }
  .event-subtitle {
    font-size: 1.5rem;
  }
  .event-p {
    line-height: 120%;
    font-size: 1rem;
    text-align: right;
  }
  .event-video {
    margin-top: 7%;
    width: 9rem;
    height: 6rem;
  }
  .separator-event {
    display: none;
  }
}

/*TEXTE_PHOTO EN DIAGONALE PAT*/
.title {
  font-family: Sedgwick, sans-serif;
  color: #db3632;
  font-size: 2rem;
  padding: 1rem;
}

.event-text {
  font-family: Roboto, sans-serif;
  font-size: 0.8rem;
  color: black;
  padding: 1rem;
}

.container_verse {
  overflow: hidden;
  height: 50vh;
  width: 80vw;
  text-align: right;
  margin-left: 10%;
  border-left: 2px solid #db3632;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 15%;
}

.shaped {
  height: 50vh;
  width: 40vw;
  float: right;
  background: black url(../images/graph.webp) center top no-repeat;
  background-size: cover;
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  shape-margin: 1.5rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  border: 1px solid black;
}

.container_reverse {
  overflow: hidden;
  height: 50vh;
  width: 80vw;
  text-align: left;
  margin-right: 10%;
  margin-left: 10%;
  border-right: 2px solid #db3632;
  margin-top: 5%;
  margin-bottom: 15%;
}

.shaped_reverse {
  height: 50vh;
  width: 40vw;
  float: left;
  background: black url(../images/mama.webp) center top no-repeat;
  background-size: cover;
  shape-outside: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  shape-margin: 1.5rem;
  -webkit-clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  border: 1px solid black;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .shaped {
    border: none;
    shape-outside: none;
    -webkit-clip-path: none;
            clip-path: none;
    margin-left: 1rem;
  }
  .shaped_reverse {
    border: none;
    shape-outside: none;
    margin-right: 1rem;
    -webkit-clip-path: none;
            clip-path: none;
  }
  .content_verse {
    height: 50vh;
    width: 80vw;
  }
  .content_reverse {
    height: 50vh;
    width: 80vw;
    text-align: right;
    padding-right: 0.5rem;
  }
  .title {
    font-size: 0.8rem;
    padding: 0.4rem;
  }
  .event-text {
    font-size: 0.5rem;
    padding: 0;
    font-weight: normal;
    letter-spacing: 1px;
  }
  /*disparition du banner en responsive*/
  .event-trapeze {
    background-color: rgba(0, 0, 0, 0);
  }
  .event-video {
    display: none;
  }
  .event-subtitle {
    display: none;
  }
  .event-p {
    display: none;
  }
  .separator-event {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3%;
    font-family: Roboto-bold;
    color: #db3632;
    font-size: 0.6rem;
    margin-top: 5%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fresques-banner {
  background-image: url("../images/blockparty.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.event-trapeze {
  background-color: none;
}

.event-description {
  color: none;
}

.event-type {
  display: none;
}

.event-video {
  display: none;
}

.event-title {
  color: white;
  height: 50vh;
  font-family: Sedgwick, sans-serif;
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.514);
}

.event-subtitle-mobile a {
  text-decoration: none;
  color: #db3632;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .event-title {
    font-size: 6rem;
  }
  .separator-event {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3%;
    font-family: Roboto-bold;
    color: #db3632;
    font-size: 0.6rem;
    margin-top: 5%;
  }
}

@media only screen and (min-width: 1025px) {
  .fresques-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 85vh;
    width: 100vw;
  }
  .event-trapeze {
    -webkit-clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
            clip-path: polygon(58% 0, 100% 0%, 100% 100%, 76% 100%);
    background-color: rgba(0, 0, 0, 0.514);
    width: 70%;
    padding: 2%;
  }
  .event-description {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
  .event-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .event-title {
    font-weight: lighter;
    font-family: Sedgwick, sans-serif;
    text-align: right;
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    margin-bottom: -50px;
    margin-top: -40px;
  }
  .event-subtitle {
    margin-top: 8%;
    font-weight: lighter;
    font-family: Roboto, sans-serif;
    z-index: 2;
    text-align: right;
    color: #db3632;
    font-size: 2rem;
  }
  .event-p {
    margin-top: 2%;
    font-weight: lighter;
    color: white;
    text-align: right;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    width: 16vw;
  }
  .textBold {
    font-family: Roboto-bold;
  }
  .event-video {
    margin-top: 1rem;
    width: 10vw;
    height: 15vh;
    display: block;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1920px) {
  .index-black-box {
    height: 7vh;
    width: 100vw;
    background-color: black;
  }
  .event-title {
    font-size: 5rem;
    margin-bottom: -3%;
    margin-top: -1%;
  }
  .event-subtitle {
    font-size: 1.5rem;
  }
  .event-p {
    line-height: 120%;
    font-size: 1rem;
    text-align: right;
  }
  .event-video {
    margin-top: 7%;
    width: 9rem;
    height: 6rem;
  }
  .separator-event {
    display: none;
  }
}

/*TEXTE_PHOTO EN DIAGONALE PAT*/
.title {
  font-family: Sedgwick, sans-serif;
  color: #db3632;
  font-size: 2rem;
  padding: 1rem;
}

.event-text {
  font-family: Roboto, sans-serif;
  font-size: 0.8rem;
  color: black;
  padding: 1rem;
}

.container_verse {
  overflow: hidden;
  height: 50vh;
  width: 80vw;
  text-align: right;
  margin-left: 10%;
  border-left: 2px solid #db3632;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 15%;
}

.shaped {
  height: 50vh;
  width: 40vw;
  float: right;
  background: black url(../images/graph.webp) center top no-repeat;
  background-size: cover;
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  shape-margin: 1.5rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  border: 1px solid black;
}

.container_reverse {
  overflow: hidden;
  height: 50vh;
  width: 80vw;
  text-align: left;
  margin-right: 10%;
  margin-left: 10%;
  border-right: 2px solid #db3632;
  margin-top: 5%;
  margin-bottom: 15%;
}

.shaped_reverse {
  height: 50vh;
  width: 40vw;
  float: left;
  background: black url(../images/mama.webp) center top no-repeat;
  background-size: cover;
  shape-outside: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  shape-margin: 1.5rem;
  -webkit-clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  border: 1px solid black;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .shaped {
    border: none;
    shape-outside: none;
    -webkit-clip-path: none;
            clip-path: none;
    margin-left: 1rem;
  }
  .shaped_reverse {
    border: none;
    shape-outside: none;
    margin-right: 1rem;
    -webkit-clip-path: none;
            clip-path: none;
  }
  .content_verse {
    height: 50vh;
    width: 80vw;
  }
  .content_reverse {
    height: 50vh;
    width: 80vw;
    text-align: right;
    padding-right: 0.5rem;
  }
  .title {
    font-size: 0.8rem;
    padding: 0.4rem;
  }
  .event-text {
    font-size: 0.5rem;
    padding: 0;
    font-weight: normal;
    letter-spacing: 1px;
  }
  /*disparition du banner en responsive*/
  .event-trapeze {
    background-color: rgba(0, 0, 0, 0);
  }
  .event-video {
    display: none;
  }
  .event-subtitle {
    display: none;
  }
  .event-p {
    display: none;
  }
  .separator-event {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3%;
    font-family: Roboto-bold;
    color: #db3632;
    font-size: 0.6rem;
    margin-top: 5%;
  }
}
/*# sourceMappingURL=style.css.map */