<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../img/favicon-16x16.png"
    />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
      integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../sass/index.css" />
    <link rel="stylesheet" href="../sass/event.css" />
    <title>INDIGEN</title>
  </head>
  <body>
    <header class="header">
      <a href="index.html" class="nav-logo">
        <img class="logo" src="../img/logolight.png" alt="logo"
      /></a>
      <nav class="navbar-opaque">
        <span></span>
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="index.html" class="nav-link">ACCUEIL</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">ART - GRAFFITI</a>
          </li>
          <li class="nav-item">
            <a href="event.html" class="nav-link">EVENTS</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">TOURISME URBAIN</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>

    <!--CONTENT-->
    <main>
      <div class="event-banner flex flex-row justify-end">
        <div class="event-trapeze">
          <div class="event-description flex flex-col items-end">
            <h1 class="event-title text-white text-9xl">Events</h1>
            <div>
              <h2 class="event-subtitle mt-3">TEAM BUILDING</h2>
              <p class="event-p">
                Faites de vos journées d'entreprise un évenement
                <span class="textBold">culturel</span> et
                <span class="textBold">participatif</span>
              </p>
            </div>
            <div>
              <h2 class="event-subtitle mt-3 text-3xl">LIVE PAINTING</h2>
              <p class="event-p">
                Une <span class="textBold">performance artistique</span> pour
                animer vos événements ,faites le show devant vos invités !
              </p>
            </div>
            <div>
              <h2 class="event-subtitle mt-3 text-3xl">FESTIVALS</h2>
              <p class="event-p">
                Animation musicale ,ambiances DJ, live painting sortez le grand
                jeu pour vos événements
              </p>
            </div>
            <div class="mt-5 flex flex-row justify-end">
              <iframe
                class="event-video"
                src="https://www.youtube.com/embed/et6-3dq_wEw"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              >
              </iframe>
            </div>
          </div>
        </div>
      </div>
      <section class="separator">
        <div class="separatorContainer">
          
        </div>
        </section>

      <!--second part-->

      <div class="container_verse">
        <div class="shaped"></div>
        <div class="content_verse">
          <h1 class="title"><span>La</span> Tour Eiffel</h1>
          <p class="event-text">

            <!--TEXTE DE 160 mots MAX-->
            Qu'est-ce que le Lorem Ipsum?<br />
            Le Lorem Ipsum est simplement du faux texte employé dans la
            composition et la mise en page avant impression. Le Lorem Ipsum est
            le faux texte standard de l'imprimerie depuis les années 1500, quand
            un imprimeur anonyme assembla ensemble des morceaux de texte pour
            réaliser un livre spécimen de polices de texte. Il n'a pas fait que
            survivre cinq siècles, mais s'est aussi adapté à la bureautique
            informatique, sans que son contenu n'en soit modifié. Il a été
            popularisé dans les années 1960 grâce à la vente de feuilles
            Letraset contenant des passages du Lorem Ipsum, et, plus récemment,
            par son inclusion dans des applications de mise en page de texte,
            comme Aldus PageMaker.
            Le Lorem Ipsum est simplement du faux texte employé dans la
            composition et la mise en page avant impression. Le Lorem Ipsum est
            le faux texte standard de l'imprimerie depuis les années 1500, quand
            un imprimeur
          </p>
        </div>
      </div>

      <div class="container_reverse">
        <div class="shaped_reverse"></div>
        <div class="content_reverse">
          <h1 class="title"><span>La</span> Tour Eiffel</h1>
          <p class="event-text">
            <!--TEXTE DE 160 mots MAX-->
            Qu'est-ce que le Lorem Ipsum?<br />
            Le Lorem Ipsum est simplement du faux texte employé dans la
            composition et la mise en page avant impression. Le Lorem Ipsum est
            le faux texte standard de l'imprimerie depuis les années 1500, quand
            un imprimeur anonyme assembla ensemble des morceaux de texte pour
            réaliser un livre spécimen de polices de texte. Il n'a pas fait que
            survivre cinq siècles, mais s'est aussi adapté à la bureautique
            informatique, sans que son contenu n'en soit modifié. Il a été
            popularisé dans les années 1960 grâce à la vente de feuilles
            Letraset contenant des passages du Lorem Ipsum, et, plus récemment,
            par son inclusion dans des applications de mise en page de texte,
            comme Aldus PageMaker.
          </p>
        </div>
      </div>

      <div class="container_verse">
        <div class="shaped"></div>
        <div class="content_verse">
          <h1 class="title"><span>La</span> Tour Eiffel</h1>
          <p class="event-text">
            <!--TEXTE DE 160 mots MAX-->
            Qu'est-ce que le Lorem Ipsum?<br />
            Le Lorem Ipsum est simplement du faux texte employé dans la
            composition et la mise en page avant impression. Le Lorem Ipsum est
            le faux texte standard de l'imprimerie depuis les années 1500, quand
            un imprimeur anonyme assembla ensemble des morceaux de texte pour
            réaliser un livre spécimen de polices de texte. Il n'a pas fait que
            survivre cinq siècles, mais s'est aussi adapté à la bureautique
            informatique, sans que son contenu n'en soit modifié. Il a été
            popularisé dans les années 1960 grâce à la vente de feuilles
            Letraset contenant des passages du Lorem Ipsum, et, plus récemment,
            par son inclusion dans des applications de mise en page de texte,
            comme Aldus PageMaker.
          </p>
        </div>
      </div>

      <div class="container_reverse">
        <div class="shaped_reverse"></div>
        <div class="content_reverse">
          <h1 class="title"><span>La</span> Tour Eiffel</h1>
          <p class="event-text">
            <!--TEXTE DE 160 mots MAX-->
            Qu'est-ce que le Lorem Ipsum?<br />
            Le Lorem Ipsum est simplement du faux texte employé dans la
            composition et la mise en page avant impression. Le Lorem Ipsum est
            le faux texte standard de l'imprimerie depuis les années 1500, quand
            un imprimeur anonyme assembla ensemble des morceaux de texte pour
            réaliser un livre spécimen de polices de texte. Il n'a pas fait que
            survivre cinq siècles, mais s'est aussi adapté à la bureautique
            informatique, sans que son contenu n'en soit modifié. Il a été
            popularisé dans les années 1960 grâce à la vente de feuilles
            Letraset contenant des passages du Lorem Ipsum, et, plus récemment,
            par son inclusion dans des applications de mise en page de texte,
            comme Aldus PageMaker.
          </p>
        </div>
      </div>
    </main>
    <footer
      class="fixed bottom-0 left-0 right-0 py-5 bg-black text-center text-white"
    >
      <div class="reseau">
        <i class="fab fa-youtube"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </footer>
    <script
      src="https://kit.fontawesome.com/d97f99d55c.js"
      crossorigin="anonymous"
    ></script>
    <script src="../js/header.js"></script>
  </body>
</html>
