<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../sass/style.css">
    <title>Event</title>
</head>

<body>
    <main>
        <div class="banner flex flex-row justify-end">
        </div>

        <div class="trapeze">
        </div>

        <div>
            <h1 class="text-white text-6xl">Events</h1>
            <h2>TEAM BUILDING</h2>
            <h2>VERNISSAGE</h2>
            <h2>LIVE PAINTING</h2>
            <h2>BLOCK PARTIES</h2>
        </div>
    </main>
</body>

</html>