<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../img/favicon.png"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
      integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../sass/style.css" />
    <link rel="stylesheet" href="../sass/galerie_lightbox/lightbox.min.css" />

    <title>Galerie photos INDIGEN</title>
</head>

<body>
    <header class="header">
        <a href="index.html" class="nav-logo">
          <img class="logo" src="../img/logolight.png" alt="logo"
        /></a>
        <nav class="navbar ">
          <ul class="nav-menu">
            <li class="nav-item">
              <a href="index.html" class="nav-link">ACCUEIL</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">STREET ART - GRAFFITI</a>
            </li>
            <li class="nav-item">
              <a href="event.html" class="nav-link">EVENTS</a>
            </li>
            <li class="nav-item">
              <a href="tourism.html" class="nav-link">TOURISME URBAIN</a>
            </li>
            <li class="nav-item">
              <a href="galerie.html" class="nav-link">GALERIE</a>
            </li>
          </ul>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </nav>
      </header>

    <!--Bannière-->
    <main>
      <div class="gallery-banner">
        <div class="event-trapeze">
          <div class="event-description">
            <h1 class="event-title">Galerie</h1>
            <div class="event-type">
              <h2 class="event-subtitle">Lorem</h2>
                <p class="event-p">
                Faites de vos journées d'entrerpise un évenement <span class="textBold">culturel</span> et
                <span class="textBold">participatif</span>
              </p>
            </div>
            <div class="event-type">
              <h2 class="event-subtitle">Lorem</h2>
              <p class="event-p">
                Une <span class="textBold">performance artistique</span> pour
                animer vos événements, faites le
                show devant vos invités !
              </p>
            </div>
            <div class="event-type">
              <h2 class="event-subtitle">Lorem</h2>
              <p class="event-p">
                Animation musicale, ambiances
                DJ, live painting sortez le grand
                jeu pour vos événements
              </p>
            </div>
            <div>
              <iframe class="event-video" src="https://www.youtube.com/embed/et6-3dq_wEw" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!--Séparateur-->
    <section class="separator sep">
      <div class="separatorContainer">
          <img src="../img/logoIndigenH.png" alt="logo">
      </div>
    </section>


    <!--Galerie photos-->
    <section id="galerie">
      <div id="container">
          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
              <div class="photo-wrapper">
                  <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
              </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
            <div class="photo-wrapper">
                <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
            </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
            <div class="photo-wrapper">
                <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
            </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
            <div class="photo-wrapper">
                <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
            </div>
          </a>

          <a href="../img/galerie/blockparty.png" data-lightbox="galerie_indigen" data-title="Indigen">
            <div class="photo-wrapper">
                <img class="photo" src="../img/galerie/blockparty.png" alt="Indigen">
            </div>
          </a>
    </div>
  </section>

  <div class="pagination">
      <div class="prev">Prev</div>
      <div class="page"><span id="page-num"></span></div>
      <div class="next">Next</div>
  </div>



    <!--Footer-->
    <footer class="reseau">
        <div>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      <div class="partner">
        <a href="partenaires.html" >Nos partenaires</a>  
        </div>
      </footer>

        <script src="../js/header.js"></script>
        <script src="../js/galerie.js"></script>
        <script src="../js/galerie_lightbox/lightbox-plus-jquery.min.js"></script>
        <script
        src="https://kit.fontawesome.com/d97f99d55c.js"
        crossorigin="anonymous"
        ></script>

</body>

</html>