<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../sass/style.css">
    <title>Street Art / Graffiti</title>
</head>
<body>
    <header class="header">
        <a href="index.html" class="nav-logo">
          <img class="logo" src="../img/logolight.png" alt="logo"
        /></a>
        <nav class="navbar ">
          <ul class="nav-menu">
            <li class="nav-item">
              <a href="index.html" class="nav-link">ACCUEIL</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">STREET ART - GRAFFITI</a>
            </li>
            <li class="nav-item">
              <a href="event.html" class="nav-link">EVENTS</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">TOURISME URBAIN</a>
            </li>
            <li class="nav-item">
                <a href="gallery.html" class="nav-link">GALERIE</a>
              </li>
          </ul>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </nav>
      </header>

    <!--Bannière-->
    <main>
        <div class="street-banner flex flex-row justify-end">
        </div>

        <div class="street-trapeze">
        </div>

        <div class="street-description m-10 w-1/4 flex flex-col justify-end items-end">
            <h1 class="street-title text-white text-9xl">Street art - Graffit</h1>

            <h2 class="street-subtitle mt-3">FRESQUES</h2>
            <p class="street-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ipsam fugiat quisquam corporis
                numquam ea debitis nisi voluptates sapiente, tempora quibusdam, eos perferendis necessitatibus ex
                nesciunt provident dignissimos vero soluta!</p>

            <h2 class="street-subtitle mt-3 text-3xl">ÉCOLE DE GRAFFITI</h2>
            <p class="street-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ipsam fugiat quisquam corporis
                numquam ea debitis nisi voluptates sapiente, tempora quibusdam, eos perferendis necessitatibus ex
                nesciunt provident dignissimos vero soluta!</p>

            <h2 class="street-subtitle mt-3 text-3xl">MANAGEMENT D’ARTISTES</h2>
            <p class="street-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ipsam fugiat quisquam corporis
                numquam ea debitis nisi voluptates sapiente, tempora quibusdam, eos perferendis necessitatibus ex
                nesciunt provident dignissimos vero soluta!</p>

            <div class="mt-5 flex flex-row justify-end">
                <iframe class="street-video" src="https://www.youtube.com/embed/et6-3dq_wEw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
        <div class="black-box"></div>
    </main>

    <!--Galerie photos-->
    <section class="galerie">
        <div id="photos">
            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>
    
            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>
    
            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>
    
            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>
    
            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>
    
            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>

            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>
    
            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>
    
            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>
    
            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>
    
            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>
    
            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>

            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>

            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>

            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>
    
            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>

            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>

            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>

            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>
    
            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>
    
            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>
    
            <div class="photo">
                <img class="galerie-image" src="../img/gallery/blockparty.png" alt="" />
            </div>
        </div>
    </section>
    <div class="pagination">
        <div class="prev">Prev</div>
        <div class="page">Page <span id="page-num"></span></div>
        <div class="next">Next</div>
    </div>

    <!--Footer-->
    <footer class="reseau py-5 bg-black text-center text-white">
     
        <div>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      <div class="partner">
          <a href="#" >Nos partenaires</a>  
        </div>
    </footer>
        <script src="../js/header.js"></script>
        <script src="../js/galerie.js"></script>
        <script
        src="https://kit.fontawesome.com/d97f99d55c.js"
        crossorigin="anonymous"
        ></script>

</body>

</html>