<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
      integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../sass/header.css" />
    <title>INDIGEN</title>
  </head>
  <body>
    <header class="header">
      <a href="#" class="nav-logo">
        <img class="logo" src="../img/logolight.png" alt="logo"
      /></a>
      <nav class="navbar">
        <span></span>
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="#" class="nav-link">ACCUEIL</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">ART - GRAFFITI</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">EVENTS</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">TOURISME URBAIN</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <!--CONTENT-->
    <footer
      class="fixed bottom-0 left-0 right-0 py-5 bg-black text-center text-white"
    >
      <div class = "reseau">
        <i class="fab fa-youtube"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-instagram"></i>
      </div>
      <div class="partner">
        <img
          class=""
          src="../img/Bois-du-Cazier-logo.jpg"
          alt="bois-du-cazier"
          width="110"
        />
        <img class="" src="../img/eden-logo.png" alt="eden" width="50" />
        <img
          class=""
          src="../img/Logo_of_charleroi.svg.png"
          alt="Charleroi"
          width="25"
        />
        <img class="" src="../img/pba-logo.png" alt="pba" width="50" />
        <img
          class=""
          src="../img/Rockerill-logo.jpg"
          alt="Rockerill"
          width="50"
        />
        <img class="" src="../img/TEC_Charleroi.svg.png" alt="TEC" width="50" />
        <img
          class=""
          src="../img/wallonie-travel-logo.png"
          alt="wallonie-travel"
          width="50"
        />
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/d97f99d55c.js"
      crossorigin="anonymous"
    ></script>
    <script src="../js/header.js"></script>
  </body>
</html>
