<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../img/favicon-16x16.png"
    />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
      integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../sass/index.css" />
    <title>INDIGEN</title>
  </head>
  <body>
    <header class="header">
      <a href="index.html" class="nav-logo">
        <img class="logo" src="../img/logolight.png" alt="logo"
      /></a>
      <nav class="navbar">

        <ul class="nav-menu">
          <li class="nav-item">
            <a href="index.html" class="nav-link">ACCUEIL</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">STREET ART - GRAFFITI</a>
          </li>
          <li class="nav-item">
            <a href="event.html" class="nav-link">EVENTS</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">TOURISME URBAIN</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <section  class="video" >
      <video src="../img/video/teaser-compressed.m4v" autoplay muted></video>
      <div class="index-black-box"></div>
    </section>
    <section class="separator">
      <div class="separatorContainer">
          <img src="../img/logoHorizontal.jpg" alt="logo">
      </div>
      </section>
      <section class="triptych-container">
      <div class="flex flex-col">
      <div class="index-black-box"></div>
          <div class="flex flex-row">
              <div class="index-polygone-graffiti triptych">
                  <div class="title-graffiti"><p>Street art <br> Graffiti</p></div>
              </div>
              <div class="index-polygone-events triptych">
                  <div class="title-events"><p>Events</p></div>
              </div>
              <div class="index-polygone-tourisme triptych">
                  <div class="title-tourisme"><p>Tourisme urbain</p></div>
              </div>
          </div>
      <div class="index-black-box-bot"></div>
      </div>
      </section>
      <footer class="reseau py-5 bg-black text-center text-white">
     
        <div>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      <div class="partner">
          <a href="#" >Nos partenaires</a>  
        </div>
      </footer>
    <script
      src="https://kit.fontawesome.com/d97f99d55c.js"
      crossorigin="anonymous"
    ></script>
    <script src="../js/header.js"></script>
  </body>
</html>
