<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
    integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
    crossorigin="anonymous"/>
    <link rel="stylesheet" href="../sass/header.css">
    <link rel="stylesheet" href="../sass/index.css">
</head>
<body>
    <header>
    <a href="#" class="nav-logo">
    <img class="logo" src="../img/logolight.png" alt="logo"/></a>
    <nav class="navbar">
    <ul class="nav-menu">
    <li class="nav-item">
        <a href="#" class="nav-link">ACCUEIL</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">ART - GRAFFITI</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">EVENTS</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">TOURISME URBAIN</a>
    </li>
    </ul>
    <div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    </div>
    </nav>
    </header>
    <section  class="video" >
        <video src="../video/teaser.mp4" autoplay muted></video>
        <div class="index-black-box"></div>
    </section>
    <section class="separator">
    <div class="separatorContainer">
        <img src="logo.png" alt="logo">
    </div>
    </section>
    <section class="tryptique">
    <div class="flex flex-col">
    <div class="index-black-box"></div>
        <div>Div a supprimer et ajouté le contenu de Jazzon ici</div>
    <div class="index-black-box-bot"></div>
    </div>
    </section>
    <section class="separator">
    <div class="separatorContainer">
    <img src="logo.png" alt="logo">
    </div>
    </section>
    <footer class=" py-5 bg-black text-center text-white">
    <div>
    <i class="fab fa-youtube"></i>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-linkedin"></i>
    <i class="fab fa-instagram"></i>
    </div>
    </footer>
</body>
</html>