<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../sass/index.css">
    <title>Accueil</title>
</head>
<body>
    <div class="index-black-box"></div>
    <div class="flex flex-row">
        <div class="index-polygone-graffiti triptych">
            <p class="title-graffiti">Graffiti</p>
        </div>
        <div class="index-polygone-events triptych">
            <p class="title-events">Events</p>
        </div>
        <div class="index-polygone-tourisme triptych">
            <p class="title-tourisme">Tourisme urbain</p>
        </div>
    </div>
</body>
</html>