<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/webp"
      sizes="16x16"
      href="../img/favicon.webp"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
      integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
      crossorigin="anonymous"
    />
    <title>Partenaires</title>
    <link rel="stylesheet" href="../sass/style.css" />
  </head>
  <body>
    <header class="header">
      <a href="index.html" class="nav-logo">
        <img class="logo" src="../img/logolight.webp" alt="logo"
      /></a>
      <nav class="navbar">
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="index.html" class="nav-link">ACCUEIL</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">STREET ART - GRAFFITI</a>
          </li>
          <li class="nav-item">
            <a href="event.html" class="nav-link">EVENTS</a>
          </li>
          <li class="nav-item">
            <a href="tourism.html" class="nav-link">TOURISME URBAIN</a>
          </li>
          <li class="nav-item">
            <a href="gallery.html" class="nav-link">GALERIE</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <!--Bannière-->
    <main>
      <div class="partenaires-banner">
        <div class="event-trapeze">
          <div class="event-description">
            <h1 class="partenaires-title">Partenaires</h1>
            <div class="event-type">
              <h2 class="event-subtitle">Lorem</h2>
              <p class="event-p">
                Lorem ipsum <span class="textBold">dolor</span> sit
                <span class="textBold">amet.</span>
              </p>
            </div>
            <div class="event-type">
              <h2 class="event-subtitle">Lorem</h2>
              <p class="event-p">
                Lorem
                <span class="textBold"
                  >ipsum dolor sit amet consectetur adipisicing elit.</span
                >
                Corrupti, vero.
              </p>
            </div>
            <div class="event-type">
              <h2 class="event-subtitle">Lorem</h2>
              <p class="event-p">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni,
                dolorum.
              </p>
            </div>
            <div>
              <iframe
                class="event-video"
                src="https://www.youtube.com/embed/et6-3dq_wEw"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              >
              </iframe>
            </div>
          </div>
        </div>
      </div>
      <section class="separator sep">
        <div class="separatorContainer">
          <img src="../img/logoIndigenH.webp" alt="logo" />
        </div>
      </section>
      <!--Partenaires-->
      <section class="partenaires">
        <img src="../img/partenaires/villedecharleroi.webp" alt="partenaires" />
        <img
          style="width: 150px"
          src="../img/partenaires/wallonietravel.webp"
          alt="partenaires"
        />
        <img src="../img/partenaires/wbt.webp" alt="partenaires" />
        <img src="../img/partenaires/montanacans.webp" alt="partenaires" />
        <img
          style="width: 200px"
          src="../img/partenaires/boisducazier.webp"
          alt="partenaires"
        />
        <img
          style="width: 150px"
          src="../img/partenaires/tec.webp"
          alt="partenaires"
        />
        <img
          style="width: 200px"
          src="../img/partenaires/Rockerill.webp"
          alt="partenaires"
        />
        <img
          style="width: 200px"
          src="../img/partenaires/pba.webp"
          alt="partenaires"
        />
        <img
          style="width: 210px"
          src="../img/partenaires/streettease.webp"
          alt="partenaires"
        />
        <img
          style="width: 150px"
          src="../img/partenaires/eden.webp"
          alt="partenaires"
        />
      </section>
    </main>
    <!--Footer-->
    <footer class="reseau">
      <div>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="partner">
        <a href="partenaire.html">Nos partenaires</a>
      </div>
    </footer>

    <script src="../js/header.js"></script>
    <script
      src="https://kit.fontawesome.com/d97f99d55c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
