<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Indigen Website" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/webp"
      sizes="16x16"
      href="../img/favicon.webp"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
      integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../sass/style.css" />
    <title>INDIGEN</title>
  </head>
  <body>
    <header class="header">
      <a href="../../index.html" class="nav-logo">
        <img class="logo" src="../img/logolight.webp" alt="logo indigen"
      /></a>
      <nav class="navbar">
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="../../index.html" class="nav-link">ACCUEIL</a>
          </li>
          <li class="nav-item">
            <a href="streetart.html" class="nav-link">STREET ART - GRAFFITI</a>
          </li>
          <li class="nav-item">
            <a href="event.html" class="nav-link">EVENTS</a>
          </li>
          <li class="nav-item">
            <a href="tourism.html" class="nav-link">TOURISME URBAIN</a>
          </li>
          <li class="nav-item">
            <a href="gallery.html" class="nav-link">GALERIE</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>

    <!--CONTENT-->
    <main>
      <div class="streetart-banner">
        <div class="streetart-trapeze">
          <div class="streetart-description">
            <h1 class="streetart-title">Street Art Graffiti</h1>
            <div class="streetart-type">
              <h2 class="streetart-subtitle">ECOLE DE STREET-ART</h2>
              <p class="streetart-p">
                Faites de vos journées d'entrerpise un évenement
                <span class="textBold">culturel</span> et
                <span class="textBold">participatif</span>
              </p>
            </div>
            <div class="streetart-type">
              <h2 class="streetart-subtitle">FRESQUE DECORATIVE</h2>
              <p class="streetart-p">
                Une <span class="textBold">performance artistique</span> pour
                animer vos événements, faites le show devant vos invités !
              </p>
            </div>
            <div>
              <iframe
                class="event-video"
                src="https://www.youtube.com/embed/et6-3dq_wEw"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              >
              </iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="index-black-box"></div>
      <!--second part-->
      <div class="container-picture">
        <div class="boxOne">
          <div class="streetartTitle">
            <h1 class="titleOne">ECOLE DE STREET-ART</h1>
          </div>
        </div>
        <div class="boxTwo">
          <div class="streetartTitle">
            <h1 class="titleTwo">FRESQUE DECORATIVE</h1>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="info-Asbl">
        <p>INDIGEN asbl</p>
        <p>Sébastiano Bongiovanni</p>
        <br>Mobile: </br> +32 (0)486/57.34.08</p>
        <a href="mailto: ingidenasbl@gmail.com /">Contactez-moi !</a>
      </div>
      <div class="socialContainer">
          <div class="socialLinks"> 
            <a href="https://www.youtube.com/channel/UChj3uQjWSOKQ58IVAG2bFFg"><i class="fab fa-youtube"></i></a>
            <a href="https://www.facebook.com/WWW.INDIGENAGENCY.BE"><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/agency-indigen-b8118a1a2/"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/indigen_agency/"><i class="fab fa-instagram"></i></a>
          </div>
          <div class="partner">
            <a href="partenaire.html">Nos partenaires</a>
          </div>
      </div>   
</footer>

<script src="https://kit.fontawesome.com/d97f99d55c.js" crossorigin="anonymous"></script>
<script src="../js/header.js"></script>
  </body>
</html>
