<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../sass/style.css" />
    <title>Street Art / Graffiti</title>
  </head>

  <body>
    <header class="header">
      <a href="index.html" class="nav-logo">
        <img class="logo" src="../img/logolight.png" alt="logo"
      /></a>
      <nav class="navbar">
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="index.html" class="nav-link">ACCUEIL</a>
          </li>
          <li class="nav-item">
            <a href="streetart.html" class="nav-link">STREET ART - GRAFFITI</a>
          </li>
          <li class="nav-item">
            <a href="event.html" class="nav-link">EVENTS</a>
          </li>
          <li class="nav-item">
            <a href="tourism.html" class="nav-link">TOURISME URBAIN</a>
          </li>
          <li class="nav-item">
            <a href="gallery.html" class="nav-link">GALERIE</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>

    <!--Bannière-->
    <main>
      <div></div>
    </main>

    <!--Footer-->
    <footer class="reseau">
      <div>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="partner">
        <a href="#">Nos partenaires</a>
      </div>
    </footer>
    <script src="../js/header.js"></script>
    <script
      src="https://kit.fontawesome.com/d97f99d55c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
